@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>king</title>
</head>
<style>
    .row {
        display: flex;
    }

    .column {
        flex: 25%;
        padding: 5px;
    }

</style>
<body>
    <div><h1 style="color: green; font-family: Verdana; font-size: 100px; text-align: center; outline: 5px groove red; text-shadow: 5px 5px green ;">Websites</h1></div>
    <div class="row">
        <div class="column">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="text-align: center;">About Fry</button>
                <ul class="dropdown-menu">
                    <li><a href="Home/Fry">Sample web page by using HTML&CSS.</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="text-align: center;">Life Cycle</button>
                <ul class="dropdown-menu">
                    <li><a href="Home/Life">There have different situations of human life.</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="text-align: center;">Json-UI</button>
                <ul class="dropdown-menu">
                    <li><a href="Home/Json">Convert json data into images by using  javascript fetch concept.</a></li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="text-align: center;">Natural Things</button>
                <ul class="dropdown-menu">
                    <li><a href="Home/Nature">About god creation my point of view</a></li>
                </ul>
            </div>
        </div>
    </div>




</body>
</html>
