@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    #myData {
        width: 1000px;
        text-align: center;
        padding: 5px;
        border: solid 1px rgb(17, 245, 36);
    }
</style>
<p> convert this dummy json data <a href="https://jsonplaceholder.typicode.com/photos">https://jsonplaceholder.typicode.com/photos</a></p>
<div>
    @* Blazor Server component renders the photos list *@
    <component type="typeof(Crud_Images.Pages.Photos)" render-mode="ServerPrerendered" />
</div>

@section Scripts {
    <script src="/_framework/blazor.server.js"></script>
}



