@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<style>
    .main {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat (16,1fr);
        grid-template-rows: repeat (6,6rem);
        grid-row-gap: 15px;
    }

   
    .Rest {
        grid-column: 7 / 11;
        grid-row: 4/5;
    }

    .Heaven {
        grid-column: 4 / 7;
        grid-row: 1/3;
    }

    .Sky {
        grid-column: 3 / 6;
        grid-row: 3 / 5;
    }

    .Nature {
        grid-column: 4 / 7;
        grid-row: 5 / 6;
    }

    .Light {
        grid-column: 11 / 14;
        grid-row: 1 / 3;
    }

    .enjoying {
        grid-column: 12 / 15;
        grid-row: 3 / 5;
    }

    .control {
        grid-column: 11 / 14;
        grid-row: 5 / 6;
    }

    .im {
        height: 150px;
        width: 150px;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }
    .card {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 20px;
        margin-bottom: 5px;
        height: 280px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>

<body>

    <div class="main">
        <div class="Heaven ">
            <div class="card" data-tilt>
                <img class="im" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0c856298-6eb2-4575-8c23-d6eb17af9528/d4edd31-373fa2e3-2575-4782-abf4-c7fab5835d15.jpg/v1/fit/w_600,h_600,q_70,strp/heaven_and_earth_by_danielholeman_d4edd31-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjAwIiwicGF0aCI6IlwvZlwvMGM4NTYyOTgtNmViMi00NTc1LThjMjMtZDZlYjE3YWY5NTI4XC9kNGVkZDMxLTM3M2ZhMmUzLTI1NzUtNDc4Mi1hYmY0LWM3ZmFiNTgzNWQxNS5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.O_KPf0D6HTLo1NmUw_di7dDprbu1_JMXNswHOZKiPr4" style=" border: 4px solid rgb(236, 195, 15);">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(236, 195, 15);">Earth and Heaven</h5>
                    <p class="card-text" style="color: red;">If you living holy in Earth.<br> heaven is for you</p>
                </div>
            </div>
        </div>
        <div class="Sky ">
            <div class="card" data-tilt>
                <img class="im" src="https://www.adorama.com/alc/wp-content/uploads/2017/11/shutterstock_114802408-825x465.jpg" style="border: 4px solid rgb(15, 48, 236)">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(15, 48, 236);">Sky</h5>
                    <p class="card-text" style="color: red;">The combination of Massive Rainfall & sea<br> flood</p>
                </div>
            </div>
        </div>
        <div class="Nature ">
            <div class="card" data-tilt>
                <img class="im" src="https://static.vecteezy.com/system/resources/previews/021/746/785/non_2x/holding-a-tree-in-a-ball-ecology-and-environment-concept-with-generative-ai-photo.jpg" style="border: 4px solid rgb(67, 236, 15)">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(67, 236, 15);">Nature the beginning </h5>
                    <p class="card-text" style="color: red;">Earth giving free gift for us<br>Nature</p>
                </div>
            </div>
        </div>
        <div class="Light ">
            <div class="card" data-tilt>
                <img class="im" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0joctDCzydQL9RszvFc9lrYGDEzybzgTZTZTWtQ_YsaAR2WrmgykLgeijJMPWFvphJZk&usqp=CAU" style=" border: 4px solid rgb(226, 241, 8)">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(226, 241, 8);">The Light </h5>
                    <p class="card-text" style="color: red;">Our daily life main source for light<br>sun,moon&stars</p>
                </div>
            </div>
        </div>
        <div class="enjoying ">
            <div class="card" data-tilt>
                <img class="im" src="https://www.marlinmag.com/wp-content/uploads/2021/09/mar0716_f-bir_12.jpg" style="border: 4px solid rgb(8, 225, 241)">
                <div class="card-body">
                    <h5 class="card-title" style="color: rgb(8, 225, 241);">Fishes and Birds</h5>
                    <p class="card-text" style="color: red;">we are enjoying by watching fishes<br>we are enjoying by hearing birbs sound</p>
                </div>
            </div>
        </div>
        <div class="control  ">
            <div class="card" data-tilt>
                <img class="im" src="https://media.licdn.com/dms/image/C4E12AQFL3phLU86rWw/article-cover_image-shrink_600_2000/0/1520159158502?e=2147483647&v=beta&t=V22uh58ooOhHY73MzUsb-3w-K3TgJlk1Ebc7Am4JTUI" style=" border: 4px solid brown">
                <div class="card-body">
                    <h5 class="card-title" style="color: brown;">Animals and Man</h5>
                    <p class="card-text" style="color: red;">we have dominion over every Animal<br>power of human</p>
                </div>
            </div>
        </div>
        <div class="Rest ">
            <div class="card" data-tilt>
                <img  class="im" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGrQ9gmAh0Hlw2-HMmVhVV2Zz3QONV4d6FKlONefo6sTLeOJiGxa8SvKw3uy43Kld798M&usqp=CAU" style="border: 4px solid yellowgreen">
                <div class="card-body">
                    <h5 class="card-title" style="color: yellowgreen;">Relax</h5>
                    <p class="card-text" style="color: red;">relax take your time<br>Enjoy life </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="tilt.js"></script>
</body>
</html>


